<div class="header">
  <h1>Crop AI</h1>
  <h2>Crop and Illness Identifier
  </h2>
</div>

<div class="panel helvetica">
  <div class="center-panel">
    <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="dropped($event,0)" dropZoneClassName="filedropZone"
      contentClassName="filedropContent">
      <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector" multiple="false">
        <div *ngIf="flag==true">
          <p>Drag a crop image (jpg)</p>
          <button type="button" class="btn-outline-secondary btn" (click)="openFileSelector()">Search</button>
        </div>
        <div *ngIf="flag==false" class="file-droped">
          <p>{{ fileName }}</p>
          <button type="button" class="btn-primary btn" (click)="deleteFile(0)">Delete</button>
        </div>
      </ng-template>
    </ngx-file-drop>
  </div>
</div>
<div class="center">
  <button class="btn-primary btn btn-lg" style="font-size: 100%;margin: 15px;" (click)="compareFilesJcu(1)">Get Crop</button>
  <button class="btn-primary btn btn-lg" style="font-size: 100%;margin: 15px;" (click)="compareFilesJcu(2)">Get Illness</button>
  <button class="btn-primary btn btn-lg" style="font-size: 100%;margin: 15px;" (click)="compareFilesJcu(3)">Get Crop & Illness</button>
</div>

<img *ngIf="imageUrl" [src]="imageUrl" alt="Uploaded Image">

<h1 style="display:flex; justify-content: center" *ngIf="answer != ''">{{answer}}</h1>

<div class="modal-wrapper" *ngIf="showError==true">
  <section class="modal" #modal>
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title">Error Uploading File</h6>
        <button type="button" class="modal-close" (click)="CloseModal()">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{ messageError }}</p>
      </div>
    </div>
  </section>
  <div class="modal-overlay" #overlay (click)="CloseModal()"></div>
</div>
