:root {
    /*Cores*/
    --vermelho-mais-claro: rgba(234, 85, 89, 1);
    --vermelho-claro: rgba(216, 41, 45, 1);
    --vermelho-sistrade: rgba(177, 17, 21, 1);
    --vermelho-escuro: rgba(144, 0, 4, 1);
    --vermelho-mais-escuro: rgba(102, 0, 3, 1);
    --vermelho-sistrade-87: rgba(177, 17, 21, 0.87);
    --vermelho-sistrade-72: rgba(177, 17, 21, 0.72);
    --vermelho-sistrade-50: rgba(177, 17, 21, 0.50);
    --vermelho-sistrade-20: rgba(177, 17, 21, 0.20);
    --vermelho-sistrade-10: rgba(177, 17, 21, 0.10);
    --vermelho-sistrade-5: rgba(177, 17, 21, 0.05);
    --amarelo-mais-claro: rgba(236, 171, 86, 1);
    --amarelo-claro: rgba(218, 141, 41, 1);
    --amarelo: rgba(179, 108, 17, 1);
    --amarelo-escuro: rgba(145, 82, 0, 1);
    --amarelo-mais-escuro: rgba(103, 58, 0, 1);
    --amarelo-87: rgba(179, 108, 17, 0.87);
    --amarelo-72: rgba(179, 108, 17, 0.72);
    --amarelo-50: rgba(179, 108, 17, 0.50);
    --amarelo-20: rgba(179, 108, 17, 0.20);
    --amarelo-10: rgba(179, 108, 17, 0.10);
    --amarelo-5: rgba(179, 108, 17, 0.05);
    --roxo-mais-claro: rgba(150, 56, 154, 1);
    --roxo-claro: rgba(150, 56, 154, 1);
    --roxo: rgba(113, 12, 116, 1);
    --roxo-escuro: rgba(91, 0, 95, 1);
    --roxo-mais-escuro: rgba(65, 0, 67, 1);
    --roxo-87: rgba(113, 12, 116, 0.87);
    --roxo-72: rgba(113, 12, 116, 0.72);
    --roxo-50: rgba(113, 12, 116, 0.50);
    --roxo-20: rgba(113, 12, 116, 0.20);
    --roxo-10: rgba(113, 12, 116, 0.10);
    --roxo-5: rgba(113, 12, 116, 0.05);
    --preto-puro: rgba(0, 0, 0, 1);
    --preto-87: rgba(0, 0, 0, 0.87);
    --preto-72: rgba(0, 0, 0, 0.72);
    --preto-50: rgba(0, 0, 0, 0.5);
    --preto-20: rgba(0, 0, 0, 0.2);
    --preto-10: rgba(0, 0, 0, 0.1);
    --preto-5: rgba(0, 0, 0, 0.05);
    --branco-puro: rgba(255, 255, 255, 1);
    --branco-87: rgba(255, 255, 255, 0.87);
    --branco-72: rgba(255, 255, 255, 0.72);
    --branco-50: rgba(255, 255, 255, 0.5);
    --branco-20: rgba(255, 255, 255, 0.2);
    --branco-10: rgba(255, 255, 255, 0.1);
    --branco-5: rgba(255, 255, 255, 0.05);
}